@model IEnumerable<MVC_Project.Models.Sach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
@using (Html.BeginForm("Index", "TimKiem", FormMethod.Get))
{
    <ul>
        <div style="float:right">
            <input type="text" placeholder="Bạn muốn tìm sách gì?" name="searching" />
            @*@Html.TextBox("searching")*@
            <input type="submit" value="Search" />
        </div>
    </ul>
  
    
}
@if (Model.Count() == 0)
{
    <h2>Không tìm thấy</h2>
}
else
{
    <div class="row" style="margin-top:50px;text-align:center">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        @item.TenSach
                    </div>
                    <div class="panel-body">
                        <p><strong>Tác giả: </strong>@item.TenTacGia</p>

                        <p><img src="@item.HinhAnh" alt="hinh thumnail" style="width:300px"></p>

                        <p><strong>Giá: </strong>@item.DonGia VNĐ</p>

                        <p><strong>Số lượng tồn: </strong>@item.SoLuongSach</p>
                    </div>
                    <div class="panel-footer clearfix">

                        <div style="margin-bottom:40px">

                            <div class="YeuThich">
                                <a class="btn btn-success" style="float:left" href="@Url.Action("themDanhSachYeuThich", "DanhSachYeuThich",
new { @id = item.MaSach, @strURL = Request.Url.ToString()})">Thêm vào danh sách yêu thích</a>
                            </div>

                            <div class="DatMua" style="float:right">
                                <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
new { @id = item.MaSach, @strURL = Request.Url.ToString()})">Đặt mua</a>
                            </div>

                        </div>

                        <div style="float:right">
                            @Html.ActionLink("Read more", "Detail", "Sach", new
                                  {
                                      id =
                    item.MaSach
                                  }, new { @class = "btn btn-default" })
                        </div>

                        <div class="BnhLuan" style="float:left">
                            <a class="btn btn-success" href="@Url.Action("ThemBinhLuan", "BinhLuan",
new { @id = item.MaSach, @strURL = Request.Url.ToString()})">Bình luận</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                $(this).append('<span class="more-text">' + removedStr +
                    '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap(); $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>

